/* CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CHAD CSS STYLE */
* html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.header {
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.myname {
    font-family: 'Indie Flower', cursive;
    font-size: 6.5rem;
    padding: 1rem 0;
}
.myname a {
    text-decoration: none;
    color: black;
}
/* TOP ANCHORS */
.anchor {
    display:flex;
    justify-content: space-evenly;
}
.anchor a {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem; 
    color: honeydew;
    background-color: indianred;
    border: 1rem outset grey;
    margin: 1rem 0;
}
.anchor a:hover {
    background-color: ivory;
    color: mediumblue;
    border-color: crimson;
}
/* SECONDARY HEADING */
.secondaryheading {
    font-family: 'Indie Flower', cursive;
    font-size: 4.5rem;
    margin: 2rem auto;
}
.personalinfo {
    margin: 0 auto;
}
@media (max-width: 820px){
    .personalinfo p {
        align-content: center;
    }

}
.personalinfo p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
/* MAIN PROJECT PIC */
.mainpro {
    height: 20rem; 
    object-fit: cover;
    width: 100%;
}
/* ADDITIONAL PROJECT PICS */
.addimg {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}   
.addimg img {
    height: 15rem;
    margin-top: 1rem;
}
.addimg p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    width: 50%;
    align-self:center;
}
@media (max-width:917px){
    .addimg {
        display: block;
    }
}
/* ALL FOOTER INFO */
.footer {
    display: flex;
    margin-top: 1rem;
    background-color: cornsilk;
}
.footer a {
    font-family: 'Lobster', cursive;
    font-size: 2rem; 
    color: honeydew;
    background-color: indianred;
    border: 1rem outset grey;
    text-decoration: none;
    margin: 0 auto;
}
.footer a:hover {
    background-color: ivory;
    color: mediumblue;
    border-color: crimson;
}