/* CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* html {
    font-size: 62.5%;
    box-sizing: border-box;
}
.header {
    background-color: cornsilk;
    text-align: center;
}
.myname {
    font-family: 'Indie Flower', cursive;
    font-size: 6.5rem;
    padding: 2rem 0;
}
.anchor {
    display:flex;
    justify-content: space-evenly;
}
.anchor a {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem; 
    color: honeydew;
    background-color: indianred;
    border: 1rem outset grey;
    margin: 1rem 0;
}
.buttons button:hover {
    background-color: ivory;
    color: mediumblue;
}
.secondaryheading {
    font-family: 'Indie Flower', cursive;
    font-size: 4.5rem;
    margin: 2rem 0;
}
.personalinfo {
    display:flex;
    width: 50rem;
    margin: 0 auto;
}
.personalinfo p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.mainpro {
    height: 30rem; 
    object-fit: cover;
    width: 100%;
}
.addpro {
    display: flex;
}
.img {
    display: flex;
}
.addpro img {
    flex-direction: row;
}